<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        div {
            height: auto;
        }
        h3 {
            text-align: center;
        }
               
            .flex-center {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
            }
            .flex-center p {
              margin: 0;
              padding: 20px;
            }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">OCP Pharmacy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="profileAdmin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="requests">Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="collections">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="settings">Settings</a>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="logout">Logout</a>
            </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container-flex mt-3" style="margin: 500px;">
        <div class="row">
          <div class="col-sm mr-3" style="background-color: rgba(16, 174, 214, 0.3);">
            <h3> Email Confirmation </h3>
            <section style="margin-top: 10px;">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Patient Name:</th>
                    <td>{{name}} {{surname}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td>{{email}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Message</th>
                    <td>{{emailMessage}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="container">
                  <p>Email successfully sent</p>
              </div>
            </section>
          </div>
</body>
</html>