<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OCP Pharmacy</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">
<style>
  div.card {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: azure;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  float: right;
}
</style>
</head>

<body id="page-top" style="background-color:#FAFAFA;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">OCP Pharmacy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="patientpage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="medications">Medications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="collectionsPatient">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="Settings">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="logoutPatient">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Main Content -->
    <section id="about">
    <div class="container">
      <img src="static/images/medications1.jpeg" class="img-fluid" class="img-thumbnail" alt="Responsive image" style="width:150px">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Medication Page</h2>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                  <br>
            <u><center><h4>Description of medications</h4></center></u>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"></a>
        </div>
        <hr>
        <div class="card">
        <div class="post-preview">
          <label class="btn btn-outline-primary" for="btn-check-outlined">Paracetamol 100mg</label><br>
          <p>56 tablet - one to be taken daily <br>Last issued: 02 Nov 2020 <br>Last requested on 01 April 2020</p>
        </div>
      </div>
        <hr>
        <div class="card">
        <div class="post-preview">
          <label class="btn btn-outline-primary" for="btn-check-outlined">Acetaminophen 100mg</label><br>
          <p>56 tablet - one to be taken daily <br>Last issued: 02 Nov 2020 <br>Last requested on 01 April 2020</p>
        </div>
      </div>
        <hr>
        <div class="card">
        <div class="post-preview">
          <label class="btn btn-outline-primary" for="btn-check-outlined">Umeclidinium and vilanterol 100mg</label><br>
          <p>56 tablet - one to be taken daily <br>Last issued: 02 Nov 2020 <br>Last requested on 01 April 2020</p>
        </div>
      </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>

</body>
</html>

    