<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('table') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Patients</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Surname</th>
               <th>Email</th>
               <th>Username</th>
               <th>Last Blood test</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.surname }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.bTestLast }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>